<div class="body">
  <div class="container-menus">
    <h1>Lista de Banners</h1>
    <div class="tabla-container">
      <table class="tabla">
        <thead>
          <tr>
            <th>ID</th>
            <th>Imagen</th>
            <th>URL</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banner of banners">
            <td>{{ banner.secuencial }}</td>
            <td><img src="{{banner.url}}" width="60px" height="30px"></td>

            <!-- URL -->
            <td>
              <ng-container *ngIf="bannerEditando?.secuencial === banner.secuencial; else verUrl">
                <textarea [(ngModel)]="bannerEditando!.url"></textarea>
              </ng-container>
              <ng-template #verUrl>
                <a [href]="banner.url" target="_blank">{{ banner.url }}</a>
              </ng-template>
            </td>

            <!-- Descripción -->
            <td>
              <ng-container *ngIf="bannerEditando?.secuencial === banner.secuencial; else verDesc">
                <input [(ngModel)]="bannerEditando!.descripcion" />
              </ng-container>
              <ng-template #verDesc>
                {{ banner.descripcion }}
              </ng-template>
            </td>

            <!-- Estado -->
            <td>
              <ng-container *ngIf="bannerEditando?.secuencial === banner.secuencial; else verEstado">
                <select [(ngModel)]="bannerEditando!.estaBanner">
                  <option [value]="1">Activo</option>
                  <option [value]="0">Inactivo</option>
                </select>
              </ng-container>
              <ng-template #verEstado>
                <span *ngIf="banner.estaBanner == 1">Activo</span>
                <span *ngIf="banner.estaBanner == 0">Inactivo</span>
              </ng-template>
            </td>

            <!-- Acciones -->
            <td>
              <ng-container *ngIf="bannerEditando?.secuencial === banner.secuencial; else botones">
                <button (click)="guardarEdicion()">Guardar</button>
                <button (click)="cancelarEdicion()">Cancelar</button>
              </ng-container>
              <ng-template #botones>
                <button (click)="editarBanner(banner)">Editar</button>
                <button (click)="eliminarBanner(banner.secuencial!)">Eliminar</button>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Controles de paginación -->
      <div class="paginacion">
        <button class="button-paginacion" (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">
          ↩️
        </button>

        <button *ngFor="let pagina of [].constructor(totalPaginas); let i = index"
          [class.activa]="paginaActual === i + 1" (click)="cambiarPagina(i + 1)">
          {{ i + 1 }}
        </button>

        <button class="button-paginacion" (click)="cambiarPagina(paginaActual + 1)"
          [disabled]="paginaActual === totalPaginas">↪️
        </button>
      </div>
    </div>
  </div>
  <div class="container-menus1">
    <div class="heading">Crear una nuevo Banner</div>
    <div class="logo">
      <img *ngIf="bannerNuevo.url!=''" src="{{bannerNuevo.url}}" width="400px" height="200px">
    </div>
    <form class="form" (ngSubmit)="crearBanner()">
      <textarea required [(ngModel)]="bannerNuevo.url" name="url" placeholder="URL del banner" class="input"></textarea>
      <textarea required [(ngModel)]="bannerNuevo.descripcion" class="input" name="descripcion"
        placeholder="Descripción" class="input"></textarea>
      <select [(ngModel)]="bannerNuevo.estaBanner" name="estado">
        <option [value]="1">Activo</option>
        <option [value]="0">Inactivo</option>
      </select>
      <button class="login-button" style="margin-top: 3%; font-size: large;" type="submit">Crear</button>
    </form>
  </div>
</div>