<div class="checkout-container">
    <h2>🧾 Resumen de tu compra</h2>

    <ul>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of carrito">
                    <td>{{ p.producto?.nombre }}</td>
                    <td>{{ p.cantidad }}</td>
                    <td>${{ p.producto?.precio }}</td>
                </tr>
            </tbody>
        </table>
    </ul>


    <p *ngIf="carrito.length === 0">No hay productos en el carrito.</p>

    <div class="total-compra">
        <span>{{ total | currency:'USD' }}</span>
    </div>

    <button (click)="confirmarCompra()" class="btn-confirmar">
        ✅ confirmar pedio - Hacer el pago
    </button>
</div>