<div class="body">
    <div class="container-menus">
        <h1>Lista de Menus</h1>
        <div class="custom_input">
            <button class="button-search" (click)="buscarMenus()">
                <svg viewBox="0 0 16 16" class="svg_icon bi-search" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                    </path>
                </svg>
            </button>
            <input [(ngModel)]="nombreBusqueda" (keyup.enter)="buscarMenus()" placeholder="Busca aquí..." type="text"
                class="input" />
        </div>

        <div class="tabla-container">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Ruta</th>
                        <th>Estado</th>
                        <th>Acceso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menu of menusPaginados">
                        <td>{{ menu.id }}</td>

                        <!-- Nombre -->
                        <td>
                            <ng-container *ngIf="menuEditado && menuEditado.id === menuEditado.id; else mostrarNombre">
                                <input [(ngModel)]="menuEditado.nombre" />
                            </ng-container>
                            <ng-template #mostrarNombre>
                                <span>{{ menu.nombre }}</span>
                            </ng-template>
                        </td>

                        <!--Ruta -->
                        <td>
                            <ng-container *ngIf="menuEditado && menuEditado.id; else mostrarRuta">
                                <input [(ngModel)]="menuEditado.ruta" />
                            </ng-container>
                            <ng-template #mostrarRuta>
                                <span>{{ menu.ruta}}</span>
                            </ng-template>
                        </td>

                        <td>
                            <ng-container
                                *ngIf="menuEditado && menuEditado.id === menuEditado.id; else mostrarNivelAcceso">
                                <label class="label">Acceso</label>
                                <select id="nivel_acceso" name="nivel_acceso" [(ngModel)]="menuEditado.nivel_acceso"
                                    required>
                                    <option value="" disabled>Seleccione cual es el nivel de acceso</option>
                                    <option [value]="0">
                                        Publico
                                    </option>
                                    <option [value]="1">
                                        Usuario
                                    </option>
                                    <option [value]="2">
                                        Administrador
                                    </option>
                                </select>
                            </ng-container>
                            <ng-template #mostrarNivelAcceso>
                                <span *ngIf="menu.nivel_acceso==0">Publico</span>
                                <span *ngIf="menu.nivel_acceso==1">Usuario</span>
                                <span *ngIf="menu.nivel_acceso==2">Administrador</span>
                            </ng-template>

                        </td>

                        <!-- Estado -->
                        <td>
                            <ng-container style="display: flex;"
                                *ngIf="menuEditado && menuEditado.id; else mostrarEstado">
                                <label class="radio-button">
                                    <input type="radio" [(ngModel)]="menuEditado.activo" name="activo" value="1">
                                    <span class="radio"></span>
                                    Activo
                                </label>

                                <label class="radio-button">
                                    <input type="radio" [(ngModel)]="menuEditado.activo" name="activo" value="0">
                                    <span class="radio"></span>
                                    Inactivo
                                </label>
                            </ng-container>
                            <ng-template #mostrarEstado>
                                <span *ngIf="menuEditado?.activo">Activo</span>
                                <span *ngIf="!menuEditado?.activo">Inactivo</span>
                            </ng-template>
                        </td>


                        <!-- Acciones -->
                        <td>
                            <ng-container *ngIf="menuEditado && menuEditado.id === menuEditado.id; else botonesEditar">
                                <button (click)="guardarEdicion()">Guardar</button>
                                <button (click)="cancelarEdicion()">Cancelar</button>
                            </ng-container>
                            <ng-template #botonesEditar>
                                <button (click)="editarMenu(menu)">Editar</button>
                            </ng-template>
                            <button (click)="eliminarMenu(menu.id!)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Controles de paginación -->
            <div class="paginacion">
                <button class="button-paginacion" (click)="cambiarPagina(paginaActual - 1)"
                    [disabled]="paginaActual === 1">
                    ↩️
                </button>

                <button class="button-paginacion" *ngFor="let pagina of [].constructor(totalPaginas); let i = index"
                    [class.activa]="paginaActual === i + 1" (click)="cambiarPagina(i + 1)">
                    {{ i + 1 }}
                </button>

                <button class="button-paginacion" (click)="cambiarPagina(paginaActual + 1)"
                    [disabled]="paginaActual === totalPaginas">↪️
                </button>
            </div>
        </div>
    </div>

    <div class="container-menus1">
        <div class="heading">Crear una nuevo Menu</div>
        <form class="form" (ngSubmit)="crearMenu()" #formProducto="ngForm">
            <input required="" class="input" type="text" name="nombre" id="nombre" placeholder="Nombre"
                [(ngModel)]="menu.nombre">
            <input required="" class="input" type="text" name="ruta" id="ruta" placeholder="Ruta"
                [(ngModel)]="menu.ruta">
            <div class="radios" style="margin-top: 5%;">
                <label class="label">Estado:
                </label>
                <label class="radio-button">
                    <input type="radio" [(ngModel)]="menu.activo" name="estado" value="true">
                    <span class="radio"></span>
                    Activo
                </label>

                <label class="radio-button">
                    <input type="radio" [(ngModel)]="menu.activo" name="estado" value="false">
                    <span class="radio"></span>
                    Inactivo
                </label>
            </div>
            <label style="margin-left: 2%; margin-top: 3%; width: 100%;">Acceso: </label>
            <select class="select" id="nivel_acceso" name="nivel_acceso" [(ngModel)]="menu.nivel_acceso" required>
                <option value="" selected>Seleccione cual es el nivel de acceso</option>
                <option [value]="0">
                    Publico
                </option>
                <option [value]="1">
                    Usuario
                </option>
                <option [value]="2">
                    Administrador
                </option>
            </select>

            <button class="login-button" style="width: 30%; margin-top: 5%; font-size: medium;"
                type="submit">Crear</button>

        </form>

    </div>
</div>