/* Asegura que el body ocupe toda la altura y permita que el footer esté abajo */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

/* Contenedor principal donde se cargan los componentes */
.main-container {
    flex: 1;
    min-height: calc(100vh - 160px);
    /* Ajusta según header+footer height */
    padding-bottom: 20px;
}