<header class="menu-header">
    <nav>

        <ul class="menu-list">
            <li class="empresa-header">
                <a routerLink="/" class="empresa-link">
                    <img [src]="empresa.logo" alt="Logo" width="30" />
                    <span>{{ empresa.nombre }}</span>
                </a>
            </li>


            <ng-container *ngFor="let item of menus">
                <li *ngIf="nivelUsuario != null && item.nivel_acceso != null && nivelUsuario >= item.nivel_acceso">
                    <a [routerLink]="item.ruta">
                        <i *ngIf="item.icono" class="{{ item.icono }}"></i>
                        {{ item.nombre }}
                    </a>
                </li>
            </ng-container>

            <li *ngIf="nivelUsuario > 0">
                <button (click)="logout()">Cerrar sesión</button>
            </li>

            <li *ngIf="nivelUsuario === 0">
                <button [routerLink]="['/login']">Iniciar sesión</button>
            </li>

        </ul>
    </nav>
</header>