<div class="hero-header">
    <h1>🎉 ¡Explora nuestros productos favoritos!</h1>
    <p>Calidad, precio y tecnología al alcance de un clic</p>
</div>

<!-- Botón flotante para abrir carrito -->
<button class="btn-open-cart" (click)="mostrarCarrito = !mostrarCarrito">
    🛒 Ver Carrito {{ carrito.productos.length }}
</button>

<!-- Carrito flotante -->
<div class="carrito-flotante" [class.activo]="mostrarCarrito">
    <h2>🛒 Mi carrito</h2>
    <ul>
        <li>
            <div class="item-row">
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of carrito.productos">
                            <td>{{ item.producto.nombre }}</td>
                            <td>
                                <button class="btn-cantidad" (click)="disminuirCantidad(item.producto.id!)">-</button>
                                {{ item.cantidad }}
                                <button class="btn-cantidad" (click)="incrementarCantidad(item.producto.id!)">+</button>
                            </td>
                            <td>{{ item.producto.precio * item.cantidad | currency:'USD' }}</td>
                            <td>
                                <button class="btn-remove" (click)="eliminarDelCarrito(item.producto.id!)">✖</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>

    <p class="total">Total: {{ total | currency:'USD' }}</p>

    <div class="acciones-carrito">
        <button class="btn-actualizar" (click)="actualizarCarrito()">🔄 Actualizar carrito</button>
        <button class="btn-pagar" (click)="crearPedido()">💳 Hacer mi Pedido</button>
        <!--<button class="btn-historial" (click)="verHistorial()">🧾 Ver historial de compras</button>-->
        <button class="cerrar" (click)="mostrarCarrito = false">Cerrar</button>
    </div>
</div>

<!-- Productos -->
<div class="grid-container">
    <div class="product-card" *ngFor="let producto of productos">
        <div class="product-image">
            <img src="{{ producto.imagenUrl }}" alt="{{ producto.nombre }}" />
        </div>
        <div class="product-info">
            <h3>{{ producto.nombre }}</h3>
            <p class="descripcion">{{ producto.descripcion }}</p>
            <p class="precio">{{ producto.precio | currency:'USD' }}</p>

            <button class="btn-cart" (click)="anadirAlCarrito(producto)">
                🧺 Añadir al carrito
            </button>
        </div>
    </div>
</div>