<div class="container">
  <h1>Lista de Productos</h1>
  <div class="custom_input">
    <button class="button-search" (click)="buscarProductos()">
      <svg viewBox="0 0 16 16" class="svg_icon bi-search" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
        </path>
      </svg>
    </button>
    <input [(ngModel)]="nombreBusqueda" (keyup.enter)="buscarProductos()" placeholder="Busca aquí..." type="text"
      class="input" />
    <button type="button" (click)="crearProducto()" style="margin-left: 2%;"> Crear Producto
    </button>
  </div>

  <div class="tabla-container">
    <table class="tabla">
      <thead>
        <tr>
          <th>ID</th>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>URL</th>
          <th>Categoría</th>
          <th>Marcas</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="datosListos">
        <tr *ngFor="let producto of productosPaginados">
          <td>{{ producto.id }}</td>

          <td><img src="{{producto.imagenUrl}}" width="30px" height="30px"></td>

          <!-- Nombre -->
          <td>
            <ng-container *ngIf="productoEditando && productoEditando.id === producto.id; else mostrarNombre">
              <input [(ngModel)]="productoEditando.nombre" />
            </ng-container>
            <ng-template #mostrarNombre>
              <span>{{ producto.nombre }}</span>
            </ng-template>
          </td>

          <!-- Precio -->
          <td>
            <ng-container *ngIf="productoEditando && productoEditando.id === producto.id; else mostrarPrecio">
              <input type="number" [(ngModel)]="productoEditando.precio" />
            </ng-container>
            <ng-template #mostrarPrecio>
              <span>{{ producto.precio | currency }}</span>
            </ng-template>
          </td>

          <!-- Stock -->
          <td>
            <ng-container *ngIf="productoEditando && productoEditando.id === producto.id; else mostrarStock">
              <input type="number" [(ngModel)]="productoEditando.stock" />
            </ng-container>
            <ng-template #mostrarStock>
              <span>{{ producto.stock}}</span>
            </ng-template>
          </td>

          <!-- URL -->
          <td>
            <ng-container *ngIf="productoEditando && productoEditando.id === producto.id; else mostrarURL">
              <input type="text" [(ngModel)]="productoEditando.imagenUrl" />
            </ng-container>
            <ng-template #mostrarURL>
              <span>{{ producto.imagenUrl}}</span>
            </ng-template>
          </td>


          <!-- Categoría -->
          <td>
            <ng-container *ngIf="productoEditando && productoEditando.id === producto.id; else mostrarCategoria">
              <select id="categoria_id" name="categoria_id" [(ngModel)]="productoEditando.categoria" required>
                <option value="" disabled>Seleccione una categoría</option>
                <option *ngFor="let categoria of categorias" [ngValue]="categoria">
                  {{ categoria.nombre }}
                </option>
              </select>
            </ng-container>
            <ng-template #mostrarCategoria>
              <span>{{ obtenerNombreCategoria(producto.categoria?.id) }}</span>
            </ng-template>
          </td>

          <td>
            <ng-container *ngIf="productoEditando && productoEditando.id === producto.id; else mostrarMarca">
              <select id="marca_id" name="marca_id" [(ngModel)]="productoEditando.marca" required>
                <option value="" disabled>Seleccione una marca</option>
                <option *ngFor="let marca of marcas" [ngValue]="marca">
                  {{ marca.nombre }}
                </option>
              </select>
            </ng-container>
            <ng-template #mostrarMarca>
              <span>{{ obtenerNombreMarca(producto.marca!.id) }}</span>
            </ng-template>

          </td>

          <!-- Acciones -->
          <td>
            <ng-container *ngIf="productoEditando && productoEditando.id === producto.id; else botonesEditar">
              <button (click)="guardarEdicion()">Guardar</button>
              <button (click)="cancelarEdicion()">Cancelar</button>
            </ng-container>
            <ng-template #botonesEditar>
              <button (click)="editarProducto(producto)">Editar</button>
            </ng-template>
            <button (click)="eliminarProducto(producto.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Controles de paginación -->
    <div class="paginacion">
      <button class="button-paginacion" (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">
        ↩️
      </button>

      <button class="button-paginacion" *ngFor="let pagina of [].constructor(totalPaginas); let i = index"
        [class.activa]="paginaActual === i + 1" (click)="cambiarPagina(i + 1)">
        {{ i + 1 }}
      </button>

      <button class="button-paginacion" (click)="cambiarPagina(paginaActual + 1)"
        [disabled]="paginaActual === totalPaginas">↪️
      </button>
    </div>
  </div>
</div>